.fix-icon-position {
  padding: 12px;
}

.menu-item a {
  display: flex;
  align-items: center;
}

.menu-item span {
  padding: 0 0.8rem;
}

.menu-item span.danger {
  color: #fa4d56;
}

.bx--header-panel {
  width: 16rem;
  height: 0;
  padding: 0;
  transition: height 0.11s;
}

.bx--header-panel--expanded {
  height: 290px;
  padding-bottom: 12px;
}
