.bx--text-input {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  outline: none;
}

.bx--text-input:focus {
  outline: none;
}

.fixed-width {
  width: 33%;
}

@media (max-width: 720px) {
  .fixed-width {
    width: auto;
  }
}
