.styled-input.bx--text-input {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  outline: none;
  border-bottom: none;
}

.styled-input.bx--text-input:focus {
  outline: none;
}

.fixed-width {
  width: 33%;
}

@media (max-width: 720px) {
  .fixed-width {
    width: auto;
  }
}

.fix-icon-position {
  padding: 12px;
}

.menu-item a {
  display: flex;
  align-items: center;
}

.menu-item span {
  padding: 0 0.8rem;
}

.menu-item span.danger {
  color: #fa4d56;
}

.bx--header-panel {
  width: 16rem;
  height: 0;
  padding: 0;
  transition: height 0.11s;
}

.bx--header-panel--expanded {
  height: 290px;
  padding-bottom: 12px;
}

.bx--tooltip--definition .bx--tooltip__trigger {
  border: none;
}

.bx--tooltip__trigger.bx--tooltip--bottom .bx--assistive-text {
  padding: 0.5rem 1rem;
}

.bx--snippet--multi .bx--snippet-container {
  min-height: unset;
}

.bx--snippet--multi .bx--snippet-container pre {
  padding-bottom: 0;
}
