.styled-input.bx--text-input {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  outline: none;
  border-bottom: none;
}

.styled-input.bx--text-input:focus {
  outline: none;
}

.fixed-width {
  width: 33%;
}

@media (max-width: 720px) {
  .fixed-width {
    width: auto;
  }
}

.fix-icon-position {
  padding: 12px;
}

.menu-item a {
  display: flex;
  align-items: center;
}

.menu-item span {
  padding: 0 0.8rem;
}

.menu-item span.danger {
  color: #fa4d56;
}

.bx--header-panel {
  width: 16rem;
  height: 0;
  padding: 0;
  transition: height 0.11s;
}

.bx--header-panel--expanded {
  width: 16rem;
  height: 290px;
  padding-bottom: 12px;
}

.bx--tooltip--definition .bx--tooltip__trigger {
  border: none;
}

/* prettier-ignore */
.bx--tooltip__trigger.bx--tooltip--top.bx--tooltip--align-start .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--top.bx--tooltip--align-center .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--top.bx--tooltip--align-end .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--bottom.bx--tooltip--align-start .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--bottom.bx--tooltip--align-center .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--bottom.bx--tooltip--align-end .bx--assistive-text,
.bx--tooltip__trigger.bx--tooltip--bottom .bx--assistive-text {
  padding: 0.5rem 1rem;
}

.bx--snippet--multi .bx--snippet-container {
  min-height: unset;
}

.bx--snippet--multi .bx--snippet-container pre {
  padding-bottom: 0;
}

.bx--table-sort:hover {
  background: #e5e5e5;
}

.bx--data-table th.bx--table-column-checkbox,
.bx--table-sort {
  background: #f4f4f4;
}

.bx--table-sort.bx--table-sort--active {
  background: #e5e5e5;
}

.bx--data-table .bx--table-header-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bx--data-table tbody td.bx--table-column-checkbox {
  width: 3.25rem;
  padding-right: 1rem;
}

.bx--pagination {
  border-top: none;
}

.bx--toolbar-content {
  justify-content: space-between;
}

.bx--side-nav__navigation {
  height: calc(100vh - 48px);
}

.bx--side-nav__items {
  padding: 1rem 0;
}

@media (min-width: 66rem) {
  .bx--modal-container--xs {
    max-height: unset;
  }
}

.bx--form-item {
  display: flex;
  flex-direction: row;
  flex: 0;
  height: 32px;
  align-items: center;
}

.bx--form-item.bx--text-input-wrapper {
  flex: 1;
  margin: 0 0 0 1rem;
}

.bx--toggle-input__label .bx--toggle__switch {
  margin: 0 2rem 0 0;
}

.bx--tooltip__trigger svg.bx--inline-loading__checkmark-container {
  fill: #24a148;
}

.bx--tooltip__trigger:hover svg,
.bx--tooltip__trigger:focus svg {
  fill: none;
}

.bx--tab-content {
  padding: 0;
}

.bx--tabs--scrollable .bx--tabs--scrollable__nav-link {
  width: auto;
}

.bx--modal-container--lg .bx--modal-content {
  padding: 0;
  margin: 0;
}

.gray-header.bx--modal.is-visible .bx--modal-container {
  background-color: #f4f4f4;
}

.bx--modal-header {
  margin-bottom: 0.75rem;
}

.add-file {
  display: flex;
  width: 100%;
}

.bx--header__name,
a.bx--header__name:hover {
  color: #f4f4f4;
}

.bx--header__name {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem 0 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  text-decoration: none;
  border: 0.125rem solid transparent;
  outline: none;
  transition: border-color 110ms;
  -webkit-user-select: none;
  user-select: none;
}

.bx--inline-notification {
  max-width: unset;
  margin: 0;
}
